<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.base.dictionarydetailBaseMapper">


    <insert id="insertdictionarydetail"  useGeneratedKeys="true" keyProperty="Id">
        INSERT INTO `dictionarydetail`
        (
        <trim suffixOverrides=",">
                    <if test="Id!=null">
                        `Id`,
                    </if>
                    <if test="DicId!=null">
                        `DicId`,
                    </if>
                    <if test="ItemKey!=null">
                        `ItemKey`,
                    </if>
                    <if test="ItemValue!=null">
                        `ItemValue`,
                    </if>
                    <if test="IsDefault!=null">
                        `IsDefault`,
                    </if>
                    <if test="Code!=null">
                        `Code`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="Id!=null">
                    #{Id},
                </if>
                <if test="DicId!=null">
                    #{DicId},
                </if>
                <if test="ItemKey!=null">
                    #{ItemKey},
                </if>
                <if test="ItemValue!=null">
                    #{ItemValue},
                </if>
                <if test="IsDefault!=null">
                    #{IsDefault},
                </if>
                <if test="Code!=null">
                    #{Code},
                </if>
        </trim>
        )
    </insert>




    <update id="updatedictionarydetail">
        UPDATE `dictionarydetail`
        SET
        <trim suffixOverrides=",">
            <if test="DicId != null">
                `DicId` = #{DicId},
            </if>
            <if test="ItemKey != null">
                `ItemKey` = #{ItemKey},
            </if>
            <if test="ItemValue != null and ItemValue!=''">
                `ItemValue` = #{ItemValue},
            </if>
            <if test="IsDefault != null">
                `IsDefault` = #{IsDefault},
            </if>
            <if test="Code != null and Code!=''">
                `Code` = #{Code},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `Id` = #{Id} and
        </trim>
    </update>

    <update id="update">
        UPDATE `dictionarydetail`
        SET
        <trim suffixOverrides=",">
        <if test="set.DicId != null">
            `DicId` = #{set.DicId},
        </if>
        <if test="set.ItemKey != null">
            `ItemKey` = #{set.ItemKey},
        </if>
        <if test="set.ItemValue != null and set.ItemValue!=''">
            `ItemValue` = #{set.ItemValue},
        </if>
        <if test="set.IsDefault != null">
            `IsDefault` = #{set.IsDefault},
        </if>
        <if test="set.Code != null and set.Code!=''">
            `Code` = #{set.Code},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.IdList != null">
                    `Id` in
                    <foreach collection="where.IdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.IdSt !=null">
                `Id` >= #{where.IdSt} and
            </if>
            <if test="where.IdEd!=null">
                `Id` &lt;= #{where.IdEd} and
            </if>
                <if test="where.DicIdList != null">
                    `DicId` in
                    <foreach collection="where.DicIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.DicIdSt !=null">
                `DicId` >= #{where.DicIdSt} and
            </if>
            <if test="where.DicIdEd!=null">
                `DicId` &lt;= #{where.DicIdEd} and
            </if>
                <if test="where.ItemKeyList != null">
                    `ItemKey` in
                    <foreach collection="where.ItemKeyList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.ItemKeySt !=null">
                `ItemKey` >= #{where.ItemKeySt} and
            </if>
            <if test="where.ItemKeyEd!=null">
                `ItemKey` &lt;= #{where.ItemKeyEd} and
            </if>
                <if test="where.ItemValueList != null">
                    `ItemValue` in
                    <foreach collection="where.ItemValueList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyItemValue!=null and where.fuzzyItemValue.size()>0">
                (
                <foreach collection="where.fuzzyItemValue"  separator="or" item="item">
                    `ItemValue` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyItemValue!=null and where.rightFuzzyItemValue.size()>0">
                (
                <foreach collection="where.rightFuzzyItemValue"  separator="or" item="item">
                    `ItemValue` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.IsDefaultList != null">
                    `IsDefault` in
                    <foreach collection="where.IsDefaultList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.IsDefaultSt !=null">
                `IsDefault` >= #{where.IsDefaultSt} and
            </if>
            <if test="where.IsDefaultEd!=null">
                `IsDefault` &lt;= #{where.IsDefaultEd} and
            </if>
                <if test="where.CodeList != null">
                    `Code` in
                    <foreach collection="where.CodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyCode!=null and where.fuzzyCode.size()>0">
                (
                <foreach collection="where.fuzzyCode"  separator="or" item="item">
                    `Code` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyCode!=null and where.rightFuzzyCode.size()>0">
                (
                <foreach collection="where.rightFuzzyCode"  separator="or" item="item">
                    `Code` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="com.utils.dictionarydetail" id="dictionarydetailMap">
        <result property="Id" column="Id"/>
        <result property="DicId" column="DicId"/>
        <result property="ItemKey" column="ItemKey"/>
        <result property="ItemValue" column="ItemValue"/>
        <result property="IsDefault" column="IsDefault"/>
        <result property="Code" column="Code"/>
    </resultMap>


    <select id="querydictionarydetail" resultMap="dictionarydetailMap">
        select
        <include refid="baseResult"></include>
        from  `dictionarydetail`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="Id != null">
                `Id` = #{Id} and
            </if>
            <if test="DicId != null">
                `DicId` = #{DicId} and
            </if>
            <if test="ItemKey != null">
                `ItemKey` = #{ItemKey} and
            </if>
            <if test="ItemValue != null and ItemValue!=''">
                `ItemValue` = #{ItemValue} and
            </if>
            <if test="IsDefault != null">
                `IsDefault` = #{IsDefault} and
            </if>
            <if test="Code != null and Code!=''">
                `Code` = #{Code} and
            </if>
            <if test = "(_parameter instanceof com.utils.dictionarydetail$QueryBuilder) == true">
                <if test="IdList != null">
                    `Id` in
                    <foreach collection="IdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="IdSt !=null">
                    `Id` >= #{IdSt} and
                </if>
                <if test="IdEd!=null">
                    `Id` &lt;= #{IdEd} and
                </if>
                <if test="DicIdList != null">
                    `DicId` in
                    <foreach collection="DicIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="DicIdSt !=null">
                    `DicId` >= #{DicIdSt} and
                </if>
                <if test="DicIdEd!=null">
                    `DicId` &lt;= #{DicIdEd} and
                </if>
                <if test="ItemKeyList != null">
                    `ItemKey` in
                    <foreach collection="ItemKeyList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="ItemKeySt !=null">
                    `ItemKey` >= #{ItemKeySt} and
                </if>
                <if test="ItemKeyEd!=null">
                    `ItemKey` &lt;= #{ItemKeyEd} and
                </if>
                <if test="ItemValueList != null">
                    `ItemValue` in
                    <foreach collection="ItemValueList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyItemValue!=null and fuzzyItemValue.size()>0">
                    (
                    <foreach collection="fuzzyItemValue"  separator="or" item="item">
                        `ItemValue` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyItemValue!=null and rightFuzzyItemValue.size()>0">
                    (
                    <foreach collection="rightFuzzyItemValue"  separator="or" item="item">
                        `ItemValue` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="IsDefaultList != null">
                    `IsDefault` in
                    <foreach collection="IsDefaultList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="IsDefaultSt !=null">
                    `IsDefault` >= #{IsDefaultSt} and
                </if>
                <if test="IsDefaultEd!=null">
                    `IsDefault` &lt;= #{IsDefaultEd} and
                </if>
                <if test="CodeList != null">
                    `Code` in
                    <foreach collection="CodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyCode!=null and fuzzyCode.size()>0">
                    (
                    <foreach collection="fuzzyCode"  separator="or" item="item">
                        `Code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyCode!=null and rightFuzzyCode.size()>0">
                    (
                    <foreach collection="rightFuzzyCode"  separator="or" item="item">
                        `Code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="querydictionarydetailLimit1" resultMap="dictionarydetailMap">
        select
        <include refid="baseResult"></include>
        from  `dictionarydetail`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="Id != null">
                `Id` = #{Id} and
            </if>
            <if test="DicId != null">
                `DicId` = #{DicId} and
            </if>
            <if test="ItemKey != null">
                `ItemKey` = #{ItemKey} and
            </if>
            <if test="ItemValue != null and ItemValue!=''">
                `ItemValue` = #{ItemValue} and
            </if>
            <if test="IsDefault != null">
                `IsDefault` = #{IsDefault} and
            </if>
            <if test="Code != null and Code!=''">
                `Code` = #{Code} and
            </if>
            <if test = "(_parameter instanceof com.utils.dictionarydetail$QueryBuilder) == true">
                    <if test="IdList != null">
                        `Id` in
                        <foreach collection="IdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="IdSt !=null">
                    `Id` >= #{IdSt} and
                </if>
                <if test="IdEd!=null">
                    `Id` &lt;= #{IdEd} and
                </if>
                    <if test="DicIdList != null">
                        `DicId` in
                        <foreach collection="DicIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="DicIdSt !=null">
                    `DicId` >= #{DicIdSt} and
                </if>
                <if test="DicIdEd!=null">
                    `DicId` &lt;= #{DicIdEd} and
                </if>
                    <if test="ItemKeyList != null">
                        `ItemKey` in
                        <foreach collection="ItemKeyList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="ItemKeySt !=null">
                    `ItemKey` >= #{ItemKeySt} and
                </if>
                <if test="ItemKeyEd!=null">
                    `ItemKey` &lt;= #{ItemKeyEd} and
                </if>
                    <if test="ItemValueList != null">
                        `ItemValue` in
                        <foreach collection="ItemValueList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyItemValue!=null and fuzzyItemValue.size()>0">
                    (
                    <foreach collection="fuzzyItemValue"  separator="or" item="item">
                        `ItemValue` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyItemValue!=null and rightFuzzyItemValue.size()>0">
                    (
                    <foreach collection="rightFuzzyItemValue"  separator="or" item="item">
                        `ItemValue` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="IsDefaultList != null">
                        `IsDefault` in
                        <foreach collection="IsDefaultList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="IsDefaultSt !=null">
                    `IsDefault` >= #{IsDefaultSt} and
                </if>
                <if test="IsDefaultEd!=null">
                    `IsDefault` &lt;= #{IsDefaultEd} and
                </if>
                    <if test="CodeList != null">
                        `Code` in
                        <foreach collection="CodeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyCode!=null and fuzzyCode.size()>0">
                    (
                    <foreach collection="fuzzyCode"  separator="or" item="item">
                        `Code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyCode!=null and rightFuzzyCode.size()>0">
                    (
                    <foreach collection="rightFuzzyCode"  separator="or" item="item">
                        `Code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `Id`,
        `DicId`,
        `ItemKey`,
        `ItemValue`,
        `IsDefault`,
        `Code`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.utils.dictionarydetail$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.Id==true">
                        `Id`,
                    </if>
                    <if test="fetchFields.fetchFields.DicId==true">
                        `DicId`,
                    </if>
                    <if test="fetchFields.fetchFields.ItemKey==true">
                        `ItemKey`,
                    </if>
                    <if test="fetchFields.fetchFields.ItemValue==true">
                        `ItemValue`,
                    </if>
                    <if test="fetchFields.fetchFields.IsDefault==true">
                        `IsDefault`,
                    </if>
                    <if test="fetchFields.fetchFields.Code==true">
                        `Code`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.Id==null">
                        `Id`,
                    </if>
                    <if test="fetchFields.excludeFields.DicId==null">
                        `DicId`,
                    </if>
                    <if test="fetchFields.excludeFields.ItemKey==null">
                        `ItemKey`,
                    </if>
                    <if test="fetchFields.excludeFields.ItemValue==null">
                        `ItemValue`,
                    </if>
                    <if test="fetchFields.excludeFields.IsDefault==null">
                        `IsDefault`,
                    </if>
                    <if test="fetchFields.excludeFields.Code==null">
                        `Code`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.utils.dictionarydetail$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>