<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.base.roledescriptionBaseMapper">


    <insert id="insertroledescription"  useGeneratedKeys="true" keyProperty="RolePermisionId">
        INSERT INTO `roledescription`
        (
        <trim suffixOverrides=",">
                    <if test="RolePermisionId!=null">
                        `RolePermisionId`,
                    </if>
                    <if test="RoleId!=null">
                        `RoleId`,
                    </if>
                    <if test="RightId!=null">
                        `RightId`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="RolePermisionId!=null">
                    #{RolePermisionId},
                </if>
                <if test="RoleId!=null">
                    #{RoleId},
                </if>
                <if test="RightId!=null">
                    #{RightId},
                </if>
        </trim>
        )
    </insert>




    <update id="updateroledescription">
        UPDATE `roledescription`
        SET
        <trim suffixOverrides=",">
            <if test="RoleId != null">
                `RoleId` = #{RoleId},
            </if>
            <if test="RightId != null">
                `RightId` = #{RightId},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `RolePermisionId` = #{RolePermisionId} and
        </trim>
    </update>

    <update id="update">
        UPDATE `roledescription`
        SET
        <trim suffixOverrides=",">
        <if test="set.RoleId != null">
            `RoleId` = #{set.RoleId},
        </if>
        <if test="set.RightId != null">
            `RightId` = #{set.RightId},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.RolePermisionIdList != null">
                    `RolePermisionId` in
                    <foreach collection="where.RolePermisionIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.RolePermisionIdSt !=null">
                `RolePermisionId` >= #{where.RolePermisionIdSt} and
            </if>
            <if test="where.RolePermisionIdEd!=null">
                `RolePermisionId` &lt;= #{where.RolePermisionIdEd} and
            </if>
                <if test="where.RoleIdList != null">
                    `RoleId` in
                    <foreach collection="where.RoleIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.RoleIdSt !=null">
                `RoleId` >= #{where.RoleIdSt} and
            </if>
            <if test="where.RoleIdEd!=null">
                `RoleId` &lt;= #{where.RoleIdEd} and
            </if>
                <if test="where.RightIdList != null">
                    `RightId` in
                    <foreach collection="where.RightIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.RightIdSt !=null">
                `RightId` >= #{where.RightIdSt} and
            </if>
            <if test="where.RightIdEd!=null">
                `RightId` &lt;= #{where.RightIdEd} and
            </if>
        </trim>
    </update>


    <resultMap type="com.utils.roledescription" id="roledescriptionMap">
        <result property="RolePermisionId" column="RolePermisionId"/>
        <result property="RoleId" column="RoleId"/>
        <result property="RightId" column="RightId"/>
    </resultMap>


    <select id="queryroledescription" resultMap="roledescriptionMap">
        select
        <include refid="baseResult"></include>
        from  `roledescription`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="RolePermisionId != null">
                `RolePermisionId` = #{RolePermisionId} and
            </if>
            <if test="RoleId != null">
                `RoleId` = #{RoleId} and
            </if>
            <if test="RightId != null">
                `RightId` = #{RightId} and
            </if>
            <if test = "(_parameter instanceof com.utils.roledescription$QueryBuilder) == true">
                <if test="RolePermisionIdList != null">
                    `RolePermisionId` in
                    <foreach collection="RolePermisionIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="RolePermisionIdSt !=null">
                    `RolePermisionId` >= #{RolePermisionIdSt} and
                </if>
                <if test="RolePermisionIdEd!=null">
                    `RolePermisionId` &lt;= #{RolePermisionIdEd} and
                </if>
                <if test="RoleIdList != null">
                    `RoleId` in
                    <foreach collection="RoleIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="RoleIdSt !=null">
                    `RoleId` >= #{RoleIdSt} and
                </if>
                <if test="RoleIdEd!=null">
                    `RoleId` &lt;= #{RoleIdEd} and
                </if>
                <if test="RightIdList != null">
                    `RightId` in
                    <foreach collection="RightIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="RightIdSt !=null">
                    `RightId` >= #{RightIdSt} and
                </if>
                <if test="RightIdEd!=null">
                    `RightId` &lt;= #{RightIdEd} and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryroledescriptionLimit1" resultMap="roledescriptionMap">
        select
        <include refid="baseResult"></include>
        from  `roledescription`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="RolePermisionId != null">
                `RolePermisionId` = #{RolePermisionId} and
            </if>
            <if test="RoleId != null">
                `RoleId` = #{RoleId} and
            </if>
            <if test="RightId != null">
                `RightId` = #{RightId} and
            </if>
            <if test = "(_parameter instanceof com.utils.roledescription$QueryBuilder) == true">
                    <if test="RolePermisionIdList != null">
                        `RolePermisionId` in
                        <foreach collection="RolePermisionIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="RolePermisionIdSt !=null">
                    `RolePermisionId` >= #{RolePermisionIdSt} and
                </if>
                <if test="RolePermisionIdEd!=null">
                    `RolePermisionId` &lt;= #{RolePermisionIdEd} and
                </if>
                    <if test="RoleIdList != null">
                        `RoleId` in
                        <foreach collection="RoleIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="RoleIdSt !=null">
                    `RoleId` >= #{RoleIdSt} and
                </if>
                <if test="RoleIdEd!=null">
                    `RoleId` &lt;= #{RoleIdEd} and
                </if>
                    <if test="RightIdList != null">
                        `RightId` in
                        <foreach collection="RightIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="RightIdSt !=null">
                    `RightId` >= #{RightIdSt} and
                </if>
                <if test="RightIdEd!=null">
                    `RightId` &lt;= #{RightIdEd} and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `RolePermisionId`,
        `RoleId`,
        `RightId`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.utils.roledescription$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.RolePermisionId==true">
                        `RolePermisionId`,
                    </if>
                    <if test="fetchFields.fetchFields.RoleId==true">
                        `RoleId`,
                    </if>
                    <if test="fetchFields.fetchFields.RightId==true">
                        `RightId`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.RolePermisionId==null">
                        `RolePermisionId`,
                    </if>
                    <if test="fetchFields.excludeFields.RoleId==null">
                        `RoleId`,
                    </if>
                    <if test="fetchFields.excludeFields.RightId==null">
                        `RightId`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.utils.roledescription$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>