<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.base.userBaseMapper">


    <insert id="insertuser"  useGeneratedKeys="true" keyProperty="UserId">
        INSERT INTO `user`
        (
        <trim suffixOverrides=",">
                    <if test="UserId!=null">
                        `UserId`,
                    </if>
                    <if test="UserName!=null">
                        `UserName`,
                    </if>
                    <if test="UserEducation!=null">
                        `UserEducation`,
                    </if>
                    <if test="PhoneNumber!=null">
                        `PhoneNumber`,
                    </if>
                    <if test="Password!=null">
                        `Password`,
                    </if>
                    <if test="School!=null">
                        `School`,
                    </if>
                    <if test="Academy!=null">
                        `Academy`,
                    </if>
                    <if test="Major!=null">
                        `Major`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="UserId!=null">
                    #{UserId},
                </if>
                <if test="UserName!=null">
                    #{UserName},
                </if>
                <if test="UserEducation!=null">
                    #{UserEducation},
                </if>
                <if test="PhoneNumber!=null">
                    #{PhoneNumber},
                </if>
                <if test="Password!=null">
                    #{Password},
                </if>
                <if test="School!=null">
                    #{School},
                </if>
                <if test="Academy!=null">
                    #{Academy},
                </if>
                <if test="Major!=null">
                    #{Major},
                </if>
        </trim>
        )
    </insert>




    <update id="updateuser">
        UPDATE `user`
        SET
        <trim suffixOverrides=",">
            <if test="UserName != null and UserName!=''">
                `UserName` = #{UserName},
            </if>
            <if test="UserEducation != null and UserEducation!=''">
                `UserEducation` = #{UserEducation},
            </if>
            <if test="PhoneNumber != null and PhoneNumber!=''">
                `PhoneNumber` = #{PhoneNumber},
            </if>
            <if test="Password != null and Password!=''">
                `Password` = #{Password},
            </if>
            <if test="School != null and School!=''">
                `School` = #{School},
            </if>
            <if test="Academy != null and Academy!=''">
                `Academy` = #{Academy},
            </if>
            <if test="Major != null and Major!=''">
                `Major` = #{Major},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `UserId` = #{UserId} and
        </trim>
    </update>

    <update id="update">
        UPDATE `user`
        SET
        <trim suffixOverrides=",">
        <if test="set.UserName != null and set.UserName!=''">
            `UserName` = #{set.UserName},
        </if>
        <if test="set.UserEducation != null and set.UserEducation!=''">
            `UserEducation` = #{set.UserEducation},
        </if>
        <if test="set.PhoneNumber != null and set.PhoneNumber!=''">
            `PhoneNumber` = #{set.PhoneNumber},
        </if>
        <if test="set.Password != null and set.Password!=''">
            `Password` = #{set.Password},
        </if>
        <if test="set.School != null and set.School!=''">
            `School` = #{set.School},
        </if>
        <if test="set.Academy != null and set.Academy!=''">
            `Academy` = #{set.Academy},
        </if>
        <if test="set.Major != null and set.Major!=''">
            `Major` = #{set.Major},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.UserIdList != null">
                    `UserId` in
                    <foreach collection="where.UserIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.UserIdSt !=null">
                `UserId` >= #{where.UserIdSt} and
            </if>
            <if test="where.UserIdEd!=null">
                `UserId` &lt;= #{where.UserIdEd} and
            </if>
                <if test="where.UserNameList != null">
                    `UserName` in
                    <foreach collection="where.UserNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyUserName!=null and where.fuzzyUserName.size()>0">
                (
                <foreach collection="where.fuzzyUserName"  separator="or" item="item">
                    `UserName` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyUserName!=null and where.rightFuzzyUserName.size()>0">
                (
                <foreach collection="where.rightFuzzyUserName"  separator="or" item="item">
                    `UserName` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.UserEducationList != null">
                    `UserEducation` in
                    <foreach collection="where.UserEducationList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyUserEducation!=null and where.fuzzyUserEducation.size()>0">
                (
                <foreach collection="where.fuzzyUserEducation"  separator="or" item="item">
                    `UserEducation` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyUserEducation!=null and where.rightFuzzyUserEducation.size()>0">
                (
                <foreach collection="where.rightFuzzyUserEducation"  separator="or" item="item">
                    `UserEducation` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.PhoneNumberList != null">
                    `PhoneNumber` in
                    <foreach collection="where.PhoneNumberList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyPhoneNumber!=null and where.fuzzyPhoneNumber.size()>0">
                (
                <foreach collection="where.fuzzyPhoneNumber"  separator="or" item="item">
                    `PhoneNumber` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyPhoneNumber!=null and where.rightFuzzyPhoneNumber.size()>0">
                (
                <foreach collection="where.rightFuzzyPhoneNumber"  separator="or" item="item">
                    `PhoneNumber` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.PasswordList != null">
                    `Password` in
                    <foreach collection="where.PasswordList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyPassword!=null and where.fuzzyPassword.size()>0">
                (
                <foreach collection="where.fuzzyPassword"  separator="or" item="item">
                    `Password` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyPassword!=null and where.rightFuzzyPassword.size()>0">
                (
                <foreach collection="where.rightFuzzyPassword"  separator="or" item="item">
                    `Password` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.SchoolList != null">
                    `School` in
                    <foreach collection="where.SchoolList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzySchool!=null and where.fuzzySchool.size()>0">
                (
                <foreach collection="where.fuzzySchool"  separator="or" item="item">
                    `School` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzySchool!=null and where.rightFuzzySchool.size()>0">
                (
                <foreach collection="where.rightFuzzySchool"  separator="or" item="item">
                    `School` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.AcademyList != null">
                    `Academy` in
                    <foreach collection="where.AcademyList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyAcademy!=null and where.fuzzyAcademy.size()>0">
                (
                <foreach collection="where.fuzzyAcademy"  separator="or" item="item">
                    `Academy` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyAcademy!=null and where.rightFuzzyAcademy.size()>0">
                (
                <foreach collection="where.rightFuzzyAcademy"  separator="or" item="item">
                    `Academy` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.MajorList != null">
                    `Major` in
                    <foreach collection="where.MajorList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyMajor!=null and where.fuzzyMajor.size()>0">
                (
                <foreach collection="where.fuzzyMajor"  separator="or" item="item">
                    `Major` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyMajor!=null and where.rightFuzzyMajor.size()>0">
                (
                <foreach collection="where.rightFuzzyMajor"  separator="or" item="item">
                    `Major` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="com.utils.user" id="userMap">
        <result property="UserId" column="UserId"/>
        <result property="UserName" column="UserName"/>
        <result property="UserEducation" column="UserEducation"/>
        <result property="PhoneNumber" column="PhoneNumber"/>
        <result property="Password" column="Password"/>
        <result property="School" column="School"/>
        <result property="Academy" column="Academy"/>
        <result property="Major" column="Major"/>
    </resultMap>


    <select id="queryuser" resultMap="userMap">
        select
        <include refid="baseResult"></include>
        from  `user`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="UserId != null">
                `UserId` = #{UserId} and
            </if>
            <if test="UserName != null and UserName!=''">
                `UserName` = #{UserName} and
            </if>
            <if test="UserEducation != null and UserEducation!=''">
                `UserEducation` = #{UserEducation} and
            </if>
            <if test="PhoneNumber != null and PhoneNumber!=''">
                `PhoneNumber` = #{PhoneNumber} and
            </if>
            <if test="Password != null and Password!=''">
                `Password` = #{Password} and
            </if>
            <if test="School != null and School!=''">
                `School` = #{School} and
            </if>
            <if test="Academy != null and Academy!=''">
                `Academy` = #{Academy} and
            </if>
            <if test="Major != null and Major!=''">
                `Major` = #{Major} and
            </if>
            <if test = "(_parameter instanceof com.utils.user$QueryBuilder) == true">
                <if test="UserIdList != null">
                    `UserId` in
                    <foreach collection="UserIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="UserIdSt !=null">
                    `UserId` >= #{UserIdSt} and
                </if>
                <if test="UserIdEd!=null">
                    `UserId` &lt;= #{UserIdEd} and
                </if>
                <if test="UserNameList != null">
                    `UserName` in
                    <foreach collection="UserNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyUserName!=null and fuzzyUserName.size()>0">
                    (
                    <foreach collection="fuzzyUserName"  separator="or" item="item">
                        `UserName` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyUserName!=null and rightFuzzyUserName.size()>0">
                    (
                    <foreach collection="rightFuzzyUserName"  separator="or" item="item">
                        `UserName` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="UserEducationList != null">
                    `UserEducation` in
                    <foreach collection="UserEducationList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyUserEducation!=null and fuzzyUserEducation.size()>0">
                    (
                    <foreach collection="fuzzyUserEducation"  separator="or" item="item">
                        `UserEducation` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyUserEducation!=null and rightFuzzyUserEducation.size()>0">
                    (
                    <foreach collection="rightFuzzyUserEducation"  separator="or" item="item">
                        `UserEducation` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="PhoneNumberList != null">
                    `PhoneNumber` in
                    <foreach collection="PhoneNumberList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyPhoneNumber!=null and fuzzyPhoneNumber.size()>0">
                    (
                    <foreach collection="fuzzyPhoneNumber"  separator="or" item="item">
                        `PhoneNumber` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPhoneNumber!=null and rightFuzzyPhoneNumber.size()>0">
                    (
                    <foreach collection="rightFuzzyPhoneNumber"  separator="or" item="item">
                        `PhoneNumber` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="PasswordList != null">
                    `Password` in
                    <foreach collection="PasswordList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyPassword!=null and fuzzyPassword.size()>0">
                    (
                    <foreach collection="fuzzyPassword"  separator="or" item="item">
                        `Password` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPassword!=null and rightFuzzyPassword.size()>0">
                    (
                    <foreach collection="rightFuzzyPassword"  separator="or" item="item">
                        `Password` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="SchoolList != null">
                    `School` in
                    <foreach collection="SchoolList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzySchool!=null and fuzzySchool.size()>0">
                    (
                    <foreach collection="fuzzySchool"  separator="or" item="item">
                        `School` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySchool!=null and rightFuzzySchool.size()>0">
                    (
                    <foreach collection="rightFuzzySchool"  separator="or" item="item">
                        `School` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="AcademyList != null">
                    `Academy` in
                    <foreach collection="AcademyList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyAcademy!=null and fuzzyAcademy.size()>0">
                    (
                    <foreach collection="fuzzyAcademy"  separator="or" item="item">
                        `Academy` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyAcademy!=null and rightFuzzyAcademy.size()>0">
                    (
                    <foreach collection="rightFuzzyAcademy"  separator="or" item="item">
                        `Academy` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="MajorList != null">
                    `Major` in
                    <foreach collection="MajorList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMajor!=null and fuzzyMajor.size()>0">
                    (
                    <foreach collection="fuzzyMajor"  separator="or" item="item">
                        `Major` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMajor!=null and rightFuzzyMajor.size()>0">
                    (
                    <foreach collection="rightFuzzyMajor"  separator="or" item="item">
                        `Major` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryuserLimit1" resultMap="userMap">
        select
        <include refid="baseResult"></include>
        from  `user`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="UserId != null">
                `UserId` = #{UserId} and
            </if>
            <if test="UserName != null and UserName!=''">
                `UserName` = #{UserName} and
            </if>
            <if test="UserEducation != null and UserEducation!=''">
                `UserEducation` = #{UserEducation} and
            </if>
            <if test="PhoneNumber != null and PhoneNumber!=''">
                `PhoneNumber` = #{PhoneNumber} and
            </if>
            <if test="Password != null and Password!=''">
                `Password` = #{Password} and
            </if>
            <if test="School != null and School!=''">
                `School` = #{School} and
            </if>
            <if test="Academy != null and Academy!=''">
                `Academy` = #{Academy} and
            </if>
            <if test="Major != null and Major!=''">
                `Major` = #{Major} and
            </if>
            <if test = "(_parameter instanceof com.utils.user$QueryBuilder) == true">
                    <if test="UserIdList != null">
                        `UserId` in
                        <foreach collection="UserIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="UserIdSt !=null">
                    `UserId` >= #{UserIdSt} and
                </if>
                <if test="UserIdEd!=null">
                    `UserId` &lt;= #{UserIdEd} and
                </if>
                    <if test="UserNameList != null">
                        `UserName` in
                        <foreach collection="UserNameList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyUserName!=null and fuzzyUserName.size()>0">
                    (
                    <foreach collection="fuzzyUserName"  separator="or" item="item">
                        `UserName` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyUserName!=null and rightFuzzyUserName.size()>0">
                    (
                    <foreach collection="rightFuzzyUserName"  separator="or" item="item">
                        `UserName` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="UserEducationList != null">
                        `UserEducation` in
                        <foreach collection="UserEducationList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyUserEducation!=null and fuzzyUserEducation.size()>0">
                    (
                    <foreach collection="fuzzyUserEducation"  separator="or" item="item">
                        `UserEducation` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyUserEducation!=null and rightFuzzyUserEducation.size()>0">
                    (
                    <foreach collection="rightFuzzyUserEducation"  separator="or" item="item">
                        `UserEducation` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="PhoneNumberList != null">
                        `PhoneNumber` in
                        <foreach collection="PhoneNumberList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyPhoneNumber!=null and fuzzyPhoneNumber.size()>0">
                    (
                    <foreach collection="fuzzyPhoneNumber"  separator="or" item="item">
                        `PhoneNumber` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPhoneNumber!=null and rightFuzzyPhoneNumber.size()>0">
                    (
                    <foreach collection="rightFuzzyPhoneNumber"  separator="or" item="item">
                        `PhoneNumber` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="PasswordList != null">
                        `Password` in
                        <foreach collection="PasswordList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyPassword!=null and fuzzyPassword.size()>0">
                    (
                    <foreach collection="fuzzyPassword"  separator="or" item="item">
                        `Password` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPassword!=null and rightFuzzyPassword.size()>0">
                    (
                    <foreach collection="rightFuzzyPassword"  separator="or" item="item">
                        `Password` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="SchoolList != null">
                        `School` in
                        <foreach collection="SchoolList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzySchool!=null and fuzzySchool.size()>0">
                    (
                    <foreach collection="fuzzySchool"  separator="or" item="item">
                        `School` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySchool!=null and rightFuzzySchool.size()>0">
                    (
                    <foreach collection="rightFuzzySchool"  separator="or" item="item">
                        `School` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="AcademyList != null">
                        `Academy` in
                        <foreach collection="AcademyList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyAcademy!=null and fuzzyAcademy.size()>0">
                    (
                    <foreach collection="fuzzyAcademy"  separator="or" item="item">
                        `Academy` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyAcademy!=null and rightFuzzyAcademy.size()>0">
                    (
                    <foreach collection="rightFuzzyAcademy"  separator="or" item="item">
                        `Academy` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="MajorList != null">
                        `Major` in
                        <foreach collection="MajorList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyMajor!=null and fuzzyMajor.size()>0">
                    (
                    <foreach collection="fuzzyMajor"  separator="or" item="item">
                        `Major` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMajor!=null and rightFuzzyMajor.size()>0">
                    (
                    <foreach collection="rightFuzzyMajor"  separator="or" item="item">
                        `Major` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `UserId`,
        `UserName`,
        `UserEducation`,
        `PhoneNumber`,
        `Password`,
        `School`,
        `Academy`,
        `Major`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.utils.user$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.UserId==true">
                        `UserId`,
                    </if>
                    <if test="fetchFields.fetchFields.UserName==true">
                        `UserName`,
                    </if>
                    <if test="fetchFields.fetchFields.UserEducation==true">
                        `UserEducation`,
                    </if>
                    <if test="fetchFields.fetchFields.PhoneNumber==true">
                        `PhoneNumber`,
                    </if>
                    <if test="fetchFields.fetchFields.Password==true">
                        `Password`,
                    </if>
                    <if test="fetchFields.fetchFields.School==true">
                        `School`,
                    </if>
                    <if test="fetchFields.fetchFields.Academy==true">
                        `Academy`,
                    </if>
                    <if test="fetchFields.fetchFields.Major==true">
                        `Major`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.UserId==null">
                        `UserId`,
                    </if>
                    <if test="fetchFields.excludeFields.UserName==null">
                        `UserName`,
                    </if>
                    <if test="fetchFields.excludeFields.UserEducation==null">
                        `UserEducation`,
                    </if>
                    <if test="fetchFields.excludeFields.PhoneNumber==null">
                        `PhoneNumber`,
                    </if>
                    <if test="fetchFields.excludeFields.Password==null">
                        `Password`,
                    </if>
                    <if test="fetchFields.excludeFields.School==null">
                        `School`,
                    </if>
                    <if test="fetchFields.excludeFields.Academy==null">
                        `Academy`,
                    </if>
                    <if test="fetchFields.excludeFields.Major==null">
                        `Major`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.utils.user$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>