<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CourseSignDao">
    <resultMap type="com.utils.CourseSign" id="CourseSignMap">
        <result property="signId" column="SignId"/>
        <result property="courseId" column="CourseId"/>
        <result property="studentId" column="StudentId"/>
        <result property="signPlace" column="SignPlace"/>
        <result property="signTime" column="SignTime"/>
        <result property="signStatus" column="SignStatus"/>
    </resultMap>

</mapper>