<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CourseSignDao">
    <resultMap type="com.utils.CourseSign" id="CourseSignMap">
        <result property="signId" column="SignId"/>
        <result property="courseId" column="CourseId"/>
        <result property="studentId" column="StudentId"/>
        <result property="signPlace" column="SignPlace"/>
        <result property="signTime" column="SignTime"/>
        <result property="signStatus" column="SignStatus"/>
        <result property="courseSignId" column="CourseSignId"/>
    </resultMap>

    <!-- 用于获取学生签到信息来判断学生是否已经签到-->
    <select id="getCourseSign" resultMap="CourseSignMap" parameterType="Course">
        SELECT *
        From course_sign
        where CourseId = #{courseId} and StudentId = #{studentId} and CourseSignId = (select max(CourseSignId) from coursesigntime where CourseId = #{courseId})
    </select>
    <!-- 学生签到时插入签到数据   -->
    <insert id="insertCourseSign" parameterType="Course">
        INSERT INTO course_sign(CourseId, StudentId, CourseSignId, SignTime, signStatus) VALUE (#{courseId}, #{studentId}, (select max(CourseSignId) from coursesigntime where CourseId = #{courseId}), (select sysdate()), 0)
    </insert>

    <!-- 老师结束签到时候时将未签到学生记录   -->
    <insert id="insertNoSign" parameterType="Course">
        INSERT INTO course_sign(CourseId, StudentId, CourseSignId, SignTime, signStatus) VALUE (#{courseId}, #{studentId}, (select max(CourseSignId) from coursesigntime where CourseId = #{courseId}), (select sysdate()), 1)
    </insert>
</mapper>