<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CourseDao">
    <resultMap type="com.utils.Course" id="courseMap">
        <result property="courseId" column="CourseId"/>
        <result property="courseName" column="CourseName"/>
        <result property="courseHour" column="CourseHour"/>
        <result property="teachId" column="TeachId"/>
        <result property="coursePlace" column="CoursePlace"/>
    </resultMap>
</mapper>