<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.DicdDao">
    <resultMap type="Dicd" id="dicdResultMap" >
        <id property="dicId" column="dic_id"/>
        <result property="dicItemKey" column="dic_itemkey"/>
        <result property="dicItemValue" column="dic_itemvalue"/>
        <result property="dicStatus" column="dic_status"/>
        <result property="dicCode" column="dic_code"/>
    </resultMap>
    <insert id="addDicd" parameterType="Dicd">
        INSERT INTO dicd(dic_id,dic_itemkey,dic_itemvalue,dic_status,dic_code) VALUE (#{dicId},#{dicItemKey}, #{dicItemValue}, #{dicStatus},#{dicCode})
    </insert>

    <delete id="deleteDicdById" parameterType="long">
        DELETE FROM dicd WHERE dic_id=#{dicID}
    </delete>

    <update id="updateDicd" parameterType="Dicd">
        UPDATE dicd
        SET dic_itemkey = #{dicItemKey},dic_itemvalue = #{dicItemValue},dic_status = #{dicStatus},dic_code = #{dicCode}
        WHERE  dic_id = #{dicId}
    </update>

    <select id="queryById" resultMap="dicdResultMap" parameterType="long">
        SELECT dic_id,dic_itemkey,dic_itemvalue,dic_status,dic_code
        FROM dicd
        WHERE dic_id=#{dicId}
    </select>
    <select id="queryAllDicd" resultMap="dicdResultMap">
        SELECT dic_id,dic_itemkey,dic_itemvalue,dic_status,dic_code
        FROM dicd
    </select>

</mapper>