<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.DictionaryDetailDao">

    <resultMap type="com.utils.DictionaryDetail" id="DictionaryDetailMap">
        <result property="id" column="Id"/>
        <result property="dicId" column="DicId"/>
        <result property="itemKey" column="ItemKey"/>
        <result property="itemValue" column="ItemValue"/>
        <result property="isDefault" column="IsDefault"/>
        <result property="code" column="Code"/>
    </resultMap>
    <insert id="addDicd" parameterType="DictionaryDetail">
        INSERT INTO dictionarydetail(DicId,ItemKey,ItemValue,IsDefault,Code) VALUE (#{dicId},#{itemKey}, #{itemValue}, #{isDefault},#{code})
    </insert>

    <delete id="deleteDicdById" parameterType="long">
        DELETE FROM dictionarydetail WHERE Id=#{id}
    </delete>

    <update id="updateDicd" parameterType="DictionaryDetail">
        UPDATE dictionarydetail
        SET DicId=#{dicId},ItemKey = #{itemKey},ItemValue = #{itemValue},IsDefault = #{isDefault},Code = #{code}
        WHERE  Id = #{id}
    </update>

    <select id="queryById" resultMap="DictionaryDetailMap" parameterType="long">
        SELECT Id,DicId,ItemKey,ItemValue,IsDefault,Code
        FROM dictionarydetail
        WHERE Id=#{id}
    </select>
    <select id="queryAllDicd" resultMap="DictionaryDetailMap">
        SELECT Id,DicId,ItemKey,ItemValue,IsDefault,Code
        FROM dictionarydetail
    </select>

</mapper>