<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.dictionaryDao">
    <resultMap type="com.utils.dictionary" id="dictionaryMap">
        <result property="DicId" column="DicId"/>
        <result property="DicName" column="DicName"/>
        <result property="DicDescription" column="DicDescription"/>
        <result property="Code" column="Code"/>
    </resultMap>

</mapper>