<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.dictionarydetailDao">

    <resultMap type="com.utils.dictionarydetail" id="dictionarydetailMap">
        <result property="Id" column="Id"/>
        <result property="DicId" column="DicId"/>
        <result property="ItemKey" column="ItemKey"/>
        <result property="ItemValue" column="ItemValue"/>
        <result property="IsDefault" column="IsDefault"/>
        <result property="Code" column="Code"/>
    </resultMap>
</mapper>