<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.DictionaryDao">
    <resultMap type="com.utils.Dictionary" id="DictionaryMap">
        <id property="dicId" column="DicId"/>
        <result property="dicName" column="DicName"/>
        <result property="dicDescription" column="DicDescription"/>
        <result property="code" column="Code"/>
    </resultMap>
    <select id="getDicByPage" resultMap="DictionaryMap" parameterType="DicPage">
        SELECT DicId,DicName,Code,DicDescription
        FROM dictionary
        <if test="dicName!=null">
            WHERE DicName=#{dicName}
        </if>
        ORDER BY DicId DESC
        limit #{beginPage},#{pageSize}
    </select>
    <select id="getDicCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM dictionary
        <if test="dicName!=null">
            WHERE DicName=#{dicName}
        </if>
    </select>
    <insert id="addDic" parameterType="Dictionary">
        INSERT INTO dictionary(DicId,DicName,Code,DicDescription) VALUE (#{dicId},#{dicName}, #{code}, #{dicDescription})
    </insert>

    <delete id="deleteDicById" parameterType="long">
        DELETE FROM dictionary WHERE DicId=#{dicId}
    </delete>

    <delete id="deleteDicBatchById" parameterType="java.util.List">
        DELETE FROM dictionary WHERE dicId IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="updateDic" parameterType="Dictionary">
        UPDATE dictionary
        SET DicName = #{dicName},Code = #{code},DicDescription = #{dicDescription}
        WHERE  DicId = #{dicId}
    </update>

    <select id="queryById" resultMap="DictionaryMap" parameterType="long">
        SELECT DicId,DicName,Code,DicDescription
        FROM dictionary
        WHERE DicId=#{dicId}
    </select>
    <select id="queryAllDic" resultMap="DictionaryMap">
        SELECT DicId,DicName,Code,DicDescription
        FROM dictionary
    </select>

</mapper>