<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PermisionDao">
    <resultMap type="com.utils.Permision" id="permisionMap">
        <result property="permissionId" column="PermissionId"/>
        <result property="menuId" column="MenuId"/>
        <result property="permissionName" column="PermissionName"/>
        <result property="permissionDescription" column="PermissionDescription"/>
        <result property="parentId" column="ParentId"/>
    </resultMap>

    <select id="getAllPermission" resultMap="permisionMap">
        SELECT PermissionId,PermissionName
        FROM  permision
    </select>

    <select id="getOwnPermissionByRoleId" resultType="java.lang.String" parameterType="Role">
        SELECT p.PermissionName
        FROM  permision as p, roledescription as r
        where  r.RoleId= #{roleId} and p.PermissionId = r.RightId
    </select>

    <select id="getPermissionIdByPermissionName" resultType="Long" parameterType="String">
        SELECT PermissionId
        FROM  permision
        where PermissionName = #{PermissionName} limit 1
    </select>


</mapper>