<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.RoleDescriptionDao">
    <resultMap type="com.utils.Roledescription" id="roledescriptionMap">
        <result property="rolePermisionId" column="RolePermisionId"/>
        <result property="rleId" column="RoleId"/>
        <result property="rightId" column="RightId"/>
    </resultMap>

</mapper>