<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.RoleDao">
    <resultMap type="com.utils.Role" id="roleMap">
        <result property="roleId" column="RoleId"/>
        <result property="roleName" column="RoleName"/>
        <result property="roleDescription" column="RoleDescription"/>
        <result property="isLock" column="IsLock"/>
        <result property="creator" column="Creator"/>
        <result property="creationDate" column="CreationDate"/>
    </resultMap>

    <select id="getAllRole" resultMap="roleMap">
        SELECT RoleId, RoleName
        FROM  role
    </select>

    <select id="getRoleByPage" resultMap="roleMap" parameterType="PaperPage">
        SELECT *
        FROM role
        <if test="roleName!=null">
            WHERE Rolename like concat('%',#{roleName},'%')
        </if>
        ORDER BY RoleId ASC
        limit #{beginPage},#{pageSize}
    </select>

    <select id="getRoleCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM role
        <if test="roleName!=null">
            WHERE RoleName=#{roleName}
        </if>
    </select>

    <select id="getMaxRoleId" resultType="java.lang.Integer">
        SELECT max(roleid)
        FROM role
    </select>

    <insert id="addRole" parameterType="Role">
        INSERT INTO role(RoleName, RoleDescription) VALUE (#{roleName}, #{roleDescription})
    </insert>
</mapper>