<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.roleDao">
    <resultMap type="com.utils.role" id="roleMap">
        <result property="RoleId" column="RoleId"/>
        <result property="RoleName" column="RoleName"/>
        <result property="RoleDescription" column="RoleDescription"/>
        <result property="IsLock" column="IsLock"/>
        <result property="Creator" column="Creator"/>
        <result property="CreationDate" column="CreationDate"/>
    </resultMap>

</mapper>