<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.userDao">
    <resultMap type="com.utils.user" id="userMap">
        <result property="UserId" column="UserId"/>
        <result property="UserName" column="UserName"/>
        <result property="UserEducation" column="UserEducation"/>
        <result property="PhoneNumber" column="PhoneNumber"/>
        <result property="Password" column="Password"/>
        <result property="School" column="School"/>
        <result property="Academy" column="Academy"/>
        <result property="Major" column="Major"/>
    </resultMap>

</mapper>